@model IEnumerable<Podmlotek.Models.Subcategories>

	<nav class="SubcategoryList">
		<div class="SubListSize">
			<ul>
				@foreach (var item in Model)
				{
					<li>
						<a href="@Url.Action("ProductList","Home", new { subcategoryId = item.SubcategoriesId})">
							@item.Name.ToString();
						</a>
					</li>
				}
			</ul>
		</div>
	</nav>
