@model Podmlotek.ViewModels.ProductsViewModel
@using Podmlotek.Infrastructure
@{
	ViewBag.Title = "Lista produktów";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
	<main>
		<div id="Subsize">
			@Html.Action("SubcategoryList", "Home")
		</div>
		<div class="ProductList">
			@Html.Action("ProductItems", "Home")
		</div>

	</main>
</div>
