body
{
	margin: 0;
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1.logo {
	font-size: 44px;
	font-weight: 700;
	color: #dddddd;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;	
}
.link a {
	text-decoration: none;
}
#pasek {
	background-color: #CD7F32;
	text-align: right;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;	
}
.MainBtns {
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #02a24b;
	border-left: 1px dashed #02a24b;
}
#pasek a {
	color: #1c74b2;
	text-decoration: none;
}
#pasek a:hover
{
	color: #FFBF00;	
}
#topnav
{
	background-color: #1c74b2;
	text-align: center;
}
.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}
.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #02a24b;
}
.menu > li:first-child
{
		border-left: 1px dashed #02a24b;
}
.menu a
{
	color: #afff;
	text-decoration: none;
}
.menu a:hover
{
	color: #02a24b;	
}
.categories
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding: 0;
}

ul.duzaListaKursy li {	
	margin-left: 45px;
    width: 333.33px;
    height: 333.33px;
}

    ul.duzaListaKursy li a h1 {
        top: 45%;
    }

    ul.duzaListaKursy li a:hover h1 {
        top: 46%;
    }

ul.MalaListaKategorii li {
    width: 256px;
    height: 256px;
}

    ul.MalaListaKategorii li a h1 {
        top: 40%;
    }

    ul.MalaListaKategorii li a:hover h1 {
        top: 41%;
    }


ul.KursyTrzyKolumny {	
	
    overflow: hidden;
    list-style-type: none;
    font-size: 18px;
}

    ul.KursyTrzyKolumny li {
		
        float: left;
        position: relative;
        /*opacity: 0.2;*/
    }

        ul.KursyTrzyKolumny li article {
			
            height: 100%;
        }

        ul.KursyTrzyKolumny li a.dodajDoKoszykaLink {
            position: absolute;
            right: 0;
            bottom: 0;
        }

            ul.KursyTrzyKolumny li a.dodajDoKoszykaLink img {
                z-index: 2;
                position: relative;
                vertical-align: top;
            }

        ul.KursyTrzyKolumny li a.kursSzczegolyLink {
            display: block;
            height: 100%;
        }

        ul.KursyTrzyKolumny li a h1 {
            background-color: rgba(255, 255, 255, 0.2);
            vertical-align: central;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            position: absolute;
            width: 100%;
            font-weight: normal;
            /* More intensive album title */
            /* font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI'; */
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }

        ul.KursyTrzyKolumny li a:hover h1 {
            background-color: rgba(255, 255, 255, 0.85);
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        ul.KursyTrzyKolumny li a img.kurs {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.1;
            -webkit-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
        }

        ul.KursyTrzyKolumny li a:hover img.kurs {
            opacity: 0.8;
            -webkit-transition: opacity 1s ease;
            -o-transition: opacity 1s ease;
            -moz-transition: opacity 1s ease;
            transition: opacity 1s ease;
        }

ul.duzaListaKursy-bottom li {	
		
    width: 333.33px;
    height: 333.33px;
    font-size: 15px;
}

    ul.duzaListaKursy-bottom li a h1 {
        bottom: 0px;
    }


ul.TrzyKolumnyList {
		
    overflow: hidden;
    list-style-type: none;
    font-size: 18px;
}

    ul.TrzyKolumnyList li {
		
        float: left;
        position: relative;
        /*opacity: 0.2;*/
    }

        ul.TrzyKolumnyList li article {
			
            height: 100%;
        }


        ul.TrzyKolumnyList li a.kursSzczegolyLink {
            display: block;
            height: 100%;
        }

        ul.TrzyKolumnyList li a h1 {
            background-color: rgba(255, 255, 255, 0);
            vertical-align: central;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            position: absolute;
            width: 100%;
            font-weight: normal;
            background-color: rgba(255, 255, 255, 0.85);
        }

        ul.TrzyKolumnyList li a:hover h1 {
            background-color: rgba(255, 255, 255, 0.85);
        }

        ul.TrzyKolumnyList li a img.kurs {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        ul.TrzyKolumnyList li a:hover img.kurs {
        }

.manageHeader {
    margin-bottom: 30px;
}
div.bestsellerFlag {
    background-image: url(Images/bestseller.png);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div.newFlag {
    background-image: url(Images/new.png);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.content {
	float: left;
	background-color: #808080;
	padding: 10%;
}
h1.h1 {
	font-size: 32px;
	font-weight: 700;
}
#Subsize {
	margin-top: 50px;
	float: left;
	width: 250px;
	height: 950px;
}
.SubListSize {
	margin-top: 50px;
	float: left;
	width: 250px;
	height: 330px;
	background-color: #CD7F32;
}
.ProductItem {
	float: left;
	width: 800px;
	height: 250px;
	border: 1px dashed orange;
	margin-left: 150px;
	margin-top: 75px;
	text-align: -moz-center;
}
	.ProductItem > img {
		height: 100%;		
	}
.ProductList {
	margin-left: auto;
	margin-right: auto;
}
nav.SubcategoryList {	
	font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';
	padding: 10px;
	font-size: 18px;
	line-height: 200%;
}
	nav.SubcategoryList a {
		
		color: #1c74b2;
		text-decoration: none;
	}
		nav.SubcategoryList a:hover {
			color: #afff;
		}
		nav.SubcategoryList ul {
			list-style-type: none;
		}
.main {
	height: 1000px;	
}
.picture {
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	float: left;
}
.title {
	display: block;
	text-align: center;	
}
.price {
	margin-top: 50px;
	margin-bottom: 50px;
}
.desc {
	height: 600px;
	margin-top: 150px;	
}
#description {
	margin-top: 25px;
	float: left;
}
.line {
	margin-top: 30px;
	margin-bottom: 30px;
}
.inscription {
	color: #dddddd;
	margin-top: 20px;
}

.orderButton {
	height: 40px;
	background-color: #CD7F32;
	color: #dfdfdf;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 38px;
	padding: 2px 15px 2px 15px;
	text-align: center;
	vertical-align: middle;
	margin-top: 30px;
	text-decoration: none;
}
.buttons {
	margin-top: 20px;
}

.table {
	padding: 10%;
}
#footer {
	background-color: #CD7F32;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;	
}
#footer a
{
	color: #1c74b2;
	text-decoration: none;	
}
